.historical {
  height: auto;
  max-height: 30em;
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

li:hover {
  color: #afaf99;
  cursor: pointer;
}

.margin-left {
  margin-left: 0.5em;
}


::-webkit-scrollbar {
  display: none;
}

.colorstrong {
  font-weight: bold;
  color: #93937f;
}
