.editcontainer {
  border-radius: 0.5em;
  border-bottom-color: beige;
  box-shadow: 2px 2px #53506a;
  background-color: #584e6c;
  color: white;
  margin-bottom: 1em;
  padding: 1em;
}

.picture {
  width: 25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  background-color: #7c6a92;
  color: white;
}

input:focus{
  background-color: #7c6a92;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a7a3c5 !important;
  font-style: italic !important;
  opacity: 1; /* Firefox */
}

.undefinedInputJob{
  font-style: italic !important;
  color: #a7a3c5 !important;
}

.definedInputJob {
  font-style: normal !important;
  color: white !important;
}

.margin-top {
  margin-top: 0.8em !important;
}

.margin-form {
  margin-top: 10em;
}
.margin-top-large {
  margin-top: 5em !important;
}

.minusbutton {
  font-size: 0.5em;
  top: -1em !important;
  left: -0.5em !important;
}

.delbutton {
  border-radius: 50%;
  background-color: #a11040;
  box-shadow: 2px 2px #53506a;
  width: 1.5em;
  height: 1.5em;
  float: right !important;
  margin-top: -3em;
  font-size: 1em;
}

.delbutton:hover {
  background-color: #bf1048;
}

.notifcarddeleted {
  background-color: #d19061;
  color: beige;
  padding : 1em;
  text-align: center;
  box-shadow: 3px 3px #81553a;
  border-bottom-color: #005457 !important;
  border-radius: 0.5em !important;
}

.notifcardadded {
  background-color: darkturquoise;
  color: beige;
  padding : 1em;
  text-align: center;
  box-shadow: 3px 3px #004349;
  border-bottom-color: #005457 !important;
  border-radius: 0.5em !important;
}




#container {
  width: 14em;
  height: 9.5em;
  position: relative;
}

#image {
  width: 25em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
}
#nom_carte {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  left: 1.5em;
  top: 0.9em;
}

#nom_perso {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 1em;
  font-weight: bold;
  left: 1em;
  top: 16.1em;
}
