<div *ngIf="cardAdded">
  <div class="d-flex flex-column notifcardadded">Carte Ajoutée</div>
</div>
<div *ngIf="cardDeleted">
  <div class="d-flex flex-column notifcarddeleted">Carte Supprimée !</div>
</div>
<div class="editcontainer" *ngIf="selectedCard !== undefined && selectedCard !== null; else emptycard">
  <form>
    <button data-toggle="tooltip" title="Supprimer cette carte" class="btn btn-dark delbutton float-right" type="button" (click)="onDelCard()">
      <span class="oi oi-minus minusbutton"></span>
    </button>


    <div id="container">
      <img id="image" src="{{ selectedCard.picture }}" />
      <p id="nom_carte">
        {{ selectedCard.name }}
      </p>
      <p id="nom_perso">
        {{ selectedCard.metiers[0].name }}
      </p>
    </div>
    <div class="form-group margin-form">
      <div>
        <label>Nom du lieu:</label>
        <input type="text" class="form-control" [(ngModel)]="selectedCard.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Url de l'image:</label>
        <input type="text" class="form-control" [(ngModel)]="selectedCard.picture" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="margin-top">
      <h4>Personnages:</h4>
      <div class="form-group" *ngFor="let job of selectedCard.metiers; let i = index">
          <input type="text" class="form-control margin-top" placeholder="à renseigner..." [(ngModel)]="selectedCard.metiers[i].name" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <button class="btn btn-primary float-right" [disabled]='checkValid(selectedCard)'  (click)="onSaveCard(selectedCard)"> Enregistrer</button>
  </form>
</div>

<ng-template #emptycard>
<div class="d-flex flex-column selectedcardcontainer">Aucune carte sélectionnée</div>
</ng-template>

<script>
  $(document).ready(function(){
    $(window).scrollTop(0);
  });
</script>
