
    <div class="row justify-content-center">
      <div class="col-md-4">

        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
          <label [ngClass]="{'btn btn-secondary active': signUpblock == false,
                             'btn btn-secondary': true}"
                 (click)="onBlokLogin()">
            <input type="radio" name="options" id="option1" autocomplete="off"> Login
          </label>
          <label [ngClass]="{'btn btn-secondary active': signUpblock == true,
                             'btn btn-secondary': true}"
                 (click)="onBlokSignUp()">
            <input type="radio" name="options" id="option2" autocomplete="off"> Sign Up
          </label>

        </div>

        <div *ngIf="!signUpblock">
          <div class="panel">
            <h2>Authentification</h2>
            <div *ngIf="loginfail" class="alert alert-danger" role="alert">
              Login incorrect !
            </div>
          </div>
          <form id="Login">
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" [(ngModel)]="loginMail"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="loginPassword" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-primary btn-block"
                    (click)="onSignIn()"
            >Login</button>
          </form>
        </div>

        <div *ngIf="signUpblock">
          <div class="panel">
            <h2>Inscription</h2>
            <div *ngIf="signUpfail" class="alert alert-danger" role="alert">
              Le pseudo ou le mail existe déja
            </div>
          </div>
          <form id="signUp">
            <div class="form-group">
              <input type="text" class="form-control" id="inputPseudosignUp" placeholder="Pseudo" [(ngModel)]="signUpPseudo"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmailsignUp" placeholder="Email Address" [(ngModel)]="loginMail"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPasswordssignUp" placeholder="Password" [(ngModel)]="loginPassword" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-primary btn-block"
                    (click)="onSignUp()"
            >Sign Up</button>
          </form>
        </div>

      </div>
    </div>
