<h2>Parties en attente ou en cours</h2>
<div class="row margin-left colorstrong">
  <div class="col-sm-3">État de la partie</div>
  <div class="col-sm-5">Joueurs</div>
  <div class="col-sm-4">Date</div>
</div>
<div class="current">
  <ul *ngFor="let game of currentGames">
    <li (click)="onSelectGame(game)">
      <div class="row">
        <div class="col-sm-3">{{ game.gameStatus }}</div>
        <div class="col-sm-5">
          <span class="margin-left" *ngFor="let p of game.playersId; let last = last">
            {{p.name}}<span *ngIf="!last">,</span>
          </span>
        </div>
        <div class="col-sm-4">{{ game.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</div>
      </div>
    </li>
  </ul>
</div>
