<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home" class="nav-link">Agent pas tres net</a></li>
      <li routerLinkActive="active"><a routerLink="community" class="nav-link">Communauté</a></li>
      <li routerLinkActive="active"><a routerLink="games" class="nav-link">Les parties</a></li>
      <li routerLinkActive="active"><a routerLink="statistics" class="nav-link">Statistiques</a></li>
      <li routerLinkActive="active"><a routerLink="deck" class="nav-link">Deck</a></li>
      <li routerLinkActive="active"><a routerLink="account" class="nav-link">Mon compte</a></li>
      <li routerLinkActive="active" *ngIf="isAuth; else logout"><a routerLink="login" class="nav-link">Log Out</a></li>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<ng-template #logout>
  <li routerLinkActive="active" ><a routerLink="login" class="nav-link">Log In</a></li>
</ng-template>
