<div class="container">
  <div class="row">
    <div class="col-8">
      <app-current [currentGames]=currentGames (selectedGame)="changeSelectedGame($event)"></app-current>
      <div class="w-100"></div>
      <app-historical [historicalGames]=historicalGames (selectedGame)="changeSelectedGame($event)"></app-historical>
    </div>
    <div class="col-4">
      <app-map [selectedGame]="selectedGame"></app-map>
    </div>
  </div>

</div>
