.cardslistpicture{
  width: 15em;
}

.cardpicture{
  width: 14em;
}

.cardClass {
  border-radius: 1em !important;
  border-bottom-color: beige !important;
  box-shadow: 3px 3px #8d8d8d;
  background-color: #473f58 !important;
  color: beige !important;
  margin-top: 1em !important;
  padding: 1em;
}

.cardClass:hover {
  margin-left: -0.2em;
  background-color: #514862 !important;
}

.selectedcardcontainer {
  box-shadow: 3px 3px #53506a;
  margin-left: 0em !important;
  border-bottom-color: beige !important;
  background-color: #7c6a92 !important;
  color: white !important;
  margin-bottom: 1em !important;
}

.selectedcardcontainer:hover {
  background-color: #7c6a92 !important;
}

.margin-top {
  margin-top: 1em !important;
}
#container {
  width: 14em;
  height: 9.5em;
  position: relative;
}

#image {
  width: 14em;
  position: absolute;
  left: 0;
  top: 0;
}
#nom_carte {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 12px;
  font-weight: bold;
  left: 15px;
  top: 0.6em;
}

#nom_perso {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 12px;
  font-weight: bold;
  left: 15px;
  top: 11.5em;
}
