<li class="row top-buffer">
  <div class="d-flex flex-column"
       [ngClass]="{
                'cardClass': selectedCardId != -1,
                'selectedcardcontainer' : selectedCardId === cardId
                  }">
    <div class="p-2 cardslistimg" *ngIf="cardPicture">


      <div id="container">
        <img id="image" src="{{cardPicture}}" />
        <p id="nom_carte">
          {{ cardName }}
        </p>
        <p id="nom_perso">
          {{ firstJob.name }}
        </p>
      </div>

    <div class="p-2 margin-top" *ngIf="cardGames">
      Cartes jouées: {{ cardGames }} fois
    </div>
    <div class="p-2 margin-top" *ngIf="!cardGames">
      Cartes jamais jouées
    </div>
    </div>
  </div>
</li>
