<div class="container margincontainer">
  <div class="row">
    <div class="col-4">
      <h4>List des cartes de jeux</h4>
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-group">
              <button *ngIf="addButton" data-toggle="tooltip" title="Ajouter une carte" class="btn btn-dark addbutton" (click)="onAddCard()">
                <span class="oi oi-plus plusbutton"></span>
              </button>
              <app-card
                      [selectedCardId]=selectedCardId
                      *ngFor="let card of cards"
                        [cardId]="card.id"
                        [cardName]="card.name"
                        [cardPicture]="card.picture !== '' ? card.picture : ''"
                        [cardGames]="card.usage ? card.usage : 0"
                        [firstJob]="card.metiers[0]"
                        (click)="onSelectedCardId(card.id)"
            ></app-card>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h4>Edition d'une carte</h4>
      <app-cardedit
        [selectedCard]=selectedCard
      ></app-cardedit>
    </div>
    <div class="col-3">
      <h4>Statistiques de la carte</h4>
      <app-cardstats></app-cardstats>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
