/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3d354b !important;
  color:beige !important;
}

.navbar {
  background-color: #3d354b !important;

}

.nav-link {
  color: beige !important;
}
