<div class="home">
  <h2>Agent Pas Très Net</h2>
  <span>Numérisation du jeux de carte Agent Trouble (Spy Fall)</span>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="margin-top">- Jeu de parole et de bluff</p>
          <ul>
            <li>Tous les joueurs sont dans un même lieu</li>
            <li>Un espion est caché parmi eux</li>
            <li>Le but est de démasquer l’espion</li>
            <li>en se posant des questions</li>
        </ul>
        <p>- Basé sur 3 moments forts</p>
          <ul>
            <li>Questions/réponses</li>
            <li>Accusation et vote</li>
            <li>Tentative de l’espion de deviner le lieu</li>
          </ul>
      </div>
      <div class="col-md-6">
        <img class="margin-top imagefront" src="./assets/agent-trouble.png">
      </div>
    </div>
  </div>
</div>
